body{
    display:flex;
    flex-direction: column;
    font-family: 'Roboto';
    
}

.top, .footer{
    background-color: #1f2937;
}

.top{
    
}

.hero{
    display: flex;
    justify-content: space-around;
    
}

.info-cards{
    display:flex;
    gap: 10px;
}

.info-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hero-main{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.hero-second{
    color: #e5e7eb;
    font-size: 18px;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
}
.header{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.nav-links{
    display: flex;
    gap: 10px;
    list-style: none;
}
ul{
    margin:0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #e5e7eb;
}
button, .cta{
    background-color: #3882f6;
}
.cta button{
    border-color: #e5e7eb;
}
button{
    color: #e5e7eb;
}
.quote{
    background-color: #e5e7eb;
}

.quote-txt{
    color: #1f2937;
    font-style: italic;
    font-size: 36px;
}

.info-card img{
    width: 100%;
    
}


